// colors
$color-black: #515151;
$color-grey: #858586;
$color-white: #ffffff;
$color-pink-300: #ff95d6;
$color-pink-500: #f774c5;
$color-blue: #81d1ff;
$color-violet-300: #af60ff;
$color-violet-500: #8849c7;
$color-violet-700: #651fac;
$color-violet-900: #3c0473;

// queries
$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// fonts
$font-main: 'Raleway', sans-serif;

$fw-light: 400;
$fw-normal: 600;
$fw-bold: 700;
$fw-bolder: 900;

// animations
$transition: 200ms;

/*sizes*/
$max-width-image: 600px;
$max-height-image: 400px;
